h1{
    margin-top: 125px;
    margin-left: 8%;
}

.details-container{
    width: 90%;
    height: 300px;
    margin-top: -25px;
    margin-left: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.boxes{
    width: 25%;
    height: 250px;
    background-color: hsl(219, 18%, 15%);
    border-radius: 10px;
}

.top{
    display: flex;
    justify-content: space-between;
}

.top span{
    margin-right: 5%;
    margin-top: 5%;
    font-size: 7rem;
    color: hsla(0, 0%, 100%, 0.2);
}

h3{
    margin-top: 10px;
    font-size: 4rem;
    margin-left: 20px;
}

h2{
    font-size: 2rem;
    margin-top: 20px;
    margin-left: 15px;
}

table{
    width: 83%;
    margin-left: 9%;
}

table tr,td{
    padding: 10px;
}

table .actions{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
    align-items: center;
}

table a{
    color: white;
    text-decoration: none;
    padding: 10px;
    background-color: hsl(219, 18%, 15%);
    border-radius: 10px;
    width: 180px;
    text-align: center;
}

table a:hover{
    background-color: hsl(219, 18%, 5%);
}