body h1{
    color: black;
}
#navBarHome {
    display: block;
}
#mobileNav {
    display: none;
}
#back-to-top-btn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #ffa600;
    color: #000000;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 1;
}
#back-to-top-btn:hover {
    background-color: #ffc46c;
    color: #000;
}
hr{
    width: 96%;
    margin-left: 2%; 
    height: 2px;
    border: none; 
    background-color: #000;
    margin-bottom: 5vh;
}
/* image box */
.main_con {
    width: 96%;
    margin-top: 50px;
    margin-left: 2%;
    margin-bottom: 30px;
}

.container01 {
    width: 100%;
    display: flex;
    gap: 15px;
}

.panel {
    margin-top: 12.5vh;
    flex: 0.7;
    height: 25vh;
    border-radius: 20px;
    cursor: pointer;
    position: relative;
    transition: all 0.7s cubic-bezier(0.47, 1.67, 0.41, 0.8);
    overflow: hidden;
    filter: grayscale(500%);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(10px);

    &.active {
        flex: 3;
        margin-top: -1vh;
        height: 50vh;
        filter: none !important;

        .text-layer {
            opacity: 1;
            transition: opacity 0.3s ease-in-out;
        }

        img{
            display: block;
            margin-left: auto;
            margin-right: auto;
            opacity: 1;
            object-fit: cover;
        }
    }
}

.panel img {
    width: 100%;
    height: 100%;
    opacity: 0.8;
}

.text-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.001) 50%);
    display: flex;
    justify-content: center;
    color: white;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;

    h2 {
        padding-top: 375px;
        font-size: 40px;
        font-family: 'Saira Extra Condensed', sans-serif;
        text-align: left;
        margin: 0;
        font-weight: 500;
    }
}

/* prpducts */
.container {
    width: 100% !important;
    min-height: 50vh;
    margin-top: 50px;
    margin-bottom: 50px;
}

.row_products {
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
    grid-gap: 5px 25px;
}

.selected-categories {
    background-color: #ffffff;
    margin-top: -2vh;
    margin-bottom: 3vh;
}

.selected-categories span {
    width: auto;
    direction: none;
    border-radius: 10px;
}

.selected-categories i {
    color: #000000;
}

.product {
    text-align: center;
    padding: 20px;
    background-color: white;
    transition: transform 0.3s ease;
    width: auto;
    position: relative;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.12);
    max-width: 300px !important;
}

.product:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.16);
}

.p_image {
    max-width: 100%;
    height: 375px;
    object-fit: cover;
    border-radius: 5px;
}


.name {
    margin-top: 10px;
    font-size: 22px;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    color: #333;
}

h3 {
    margin-top: -10px;
    font-size: 16px; 
    color: #666;
    font-family: 'Raleway', sans-serif;
}

.price {
    color: #f30707;
    font-weight: bold;
    font-size: medium;
    margin-top: 5px;
    font-family: 'Raleway', sans-serif;
}
        
.add-to-cart {
    background-color:#000000;
    color: #fff;
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    margin-top: 10px;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    font-size: small;
    transition: background-color 0.3s ease;
    position: relative;
}

.add-to-cart:hover {
    background-color: rgb(94, 94, 94);
    color: #ffffff;
}

.add-to-cart span {
    transition: opacity 0.3s ease;
}

.add-to-cart i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.add-to-cart:hover span {
    opacity: 0;
}

.add-to-cart:hover i {
    opacity: 1;
}

.icons {
    position: absolute;
    top: 10px;
    right: 10px;
    display: none;
}

.product:hover .icons {
    display: block;
}

.icons i {
    margin-right: 10px;
    font-size: 24px;
}
        
.selected-categories {
    text-align: center;
    margin-bottom: 20px;
}

.selected-categories span {
    margin-right: 10px;
    padding: 5px;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
}
/* banner */
.banner {
    width: 100%;
    background:url(http://s6.favim.com/orig/150112/background-cold-gif-nature-Favim.com-2380226.gif);
    background-size: cover;
    font-size: 80px;
    color: #fff;
    text-align: center;
    padding: 40px 15px;
}
.big-text {
    font-size: 130px;
    font-weight:800;
    animation-delay: 1s;
    font-family: "Poppins", sans-serif;
}
.mid_text{
    font-size: 65px;
    font-weight: 300;
    animation-delay: 1s;
    font-family: "Poppins", sans-serif;
    margin-top: -50px;
}
.banner a {
    display: inline-block;
    background: #fff;
    color: #36465d;
    text-transform: uppercase;
    padding: 15px;
    text-decoration: none;
    font-size: 40px;
    transition: .3s;
    margin-bottom: 60px;
}
.banner a:hover {
    background: #333;
    color: #fff;
    padding: 15px 20px;
}
@media only screen and (max-width: 600px) {
    #navBarHome {
        display: none;
    }
    #mobileNav {
        display: block;
    }
    .selected-categories {
        margin-top: -2vh;
        margin-bottom: 3vh;
    }
    .selected-categories span {
        width: auto;
        direction: none;
        border-radius: 10px;
    }

    .product {
        width: 80%;
        margin-left: 10%;
        margin-bottom: 30px;
        max-width: 450px !important;
    }

    .product:hover {
        transform: translateY(-5px);
    }

    .name {
        font-size: 20px;
        margin-top: 5px;
    }

    .product h3 {
        font-size: 14px;
    }

    .price {
        font-size: medium;
    }

    .add-to-cart {
        height: 35px;
        margin-top: 20px;
    }

    .p_image {
        max-width: 100%;
        height: 500px;
        object-fit: cover;
        border-radius: 5px;
    }

    .container {
        margin-top: 30px;
        padding: 5px;
    }

    .main_con {
        width: 96%;
        margin-top: 35px;
        margin-left: 2%;
        margin-bottom: 20px;
    }
    
    .panel {
        flex: 0.2;
        border-radius: 20px;
        height: 20vh;

        &.active {
            margin-top: 5vh;
            height: 35vh;
        }
    }
    
    .text-layer {
        h2 {
            display: none;
        }
    }

    .big-text {
        font-size: 80px;
        font-weight:600;
    }
    .mid_text{
        font-size: 45px;
        font-weight: 300;
        margin-top: 0px !important;
    }
    .banner a {
        font-size: 30px;
    }
}