body{
    overflow: hidden;
    background-color: rgb(40, 40, 40);
}
.box_view_1{
    width: 30%;
    height: auto;
    margin-top: 20vh;
    margin-left: 35%;
    background-color: rgb(0, 0, 0);
    position: relative;
}
h1{
    padding: 3vh;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Saira Extra Condensed', sans-serif;
}
button{
    width: 80%;
    height: auto;
    padding: 10px;
    margin-top: 1vh;
    margin-bottom: 5vh;
    margin-left: 10%;
    background-color: rgb(255, 166, 0);
}
button:hover{
    background-color: rgb(255, 211, 129);
}
input[type=password] {
    width: 80%;
    padding: 10px;
    margin-left: 10%;
    margin-bottom: 2vh;
    display: inline-block;
    border: 1px solid rgb(255, 241, 161);
    color: rgb(0, 0, 0);
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
}
input[type=submit] {
    width: 80%;
    padding: 10px;
    margin-left: 10%;
    margin-bottom: 2vh;
    display: inline-block;
    border: 1px solid rgb(255, 241, 161);
    color: rgb(0, 0, 0);
    box-sizing: border-box;
    background-color: rgb(255, 200, 0);
}
input[type=submit]:hover{
    background-color: rgb(255, 111, 0);
    color: #ffffff;
}
.regtation {
    display: inline-block;
    width: 76%;
    background: rgb(19, 192, 0);
    color: #000000;
    padding: 10px;
    margin-top: 1vh;
    margin-left: 10%;
    margin-bottom: 5vh;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.regtation:hover {
    background: rgb(140, 255, 129);
    color: #000000;
}