body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    top: 0;
    background-color: rgb(245, 247, 255);
}
#navBarHome {
    display: block;
}
#mobileNav {
    display: none;
}
.top {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.container {
    width: 100% !important;
    min-height: 50vh;
    margin-top: 50px;
    margin-bottom: 50px;
}
.container_pr{
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
    grid-gap: 5px 25px;
}
.product{
    text-align: center;
    padding: 20px;
    background-color: white;
    transition: transform 0.3s ease;
    width: auto;
    position: relative;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.12);
    max-width: 300px !important;
}
.product:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.16);
}
.product p{
    margin: 0;
    padding: 0;
}
.p_image {
    max-width: 100%;
    height: 375px;
    object-fit: cover;
    border-radius: 5px;
}
.name {
    margin-top: 10px;
    font-size: 22px;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    color: #333;
}
.price {
    color: #f30707;
    font-weight: bold;
    font-size: medium;
    font-family: 'Raleway', sans-serif;
}
.add-to-cart {
    background-color:#000000;
    color: #fff;
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    margin-top: 10px;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    font-size: small;
    transition: background-color 0.3s ease;
    position: relative;
}

.add-to-cart:hover {
    background-color: rgb(94, 94, 94);
    color: #ffffff;
}
/* banner */
.banner {
    width: 100%;
    background:url(http://s6.favim.com/orig/150112/background-cold-gif-nature-Favim.com-2380226.gif);
    background-size: cover;
    font-size: 80px;
    color: #fff;
    text-align: center;
    padding: 40px 15px;
}
.big-text {
    font-size: 130px;
    font-weight:800;
    animation-delay: 1s;
    font-family: "Poppins", sans-serif;
}
.mid_text{
    font-size: 65px;
    font-weight: 300;
    animation-delay: 1s;
    font-family: "Poppins", sans-serif;
    margin-top: -50px;
}
.banner a {
    display: inline-block;
    background: #fff;
    color: #36465d;
    text-transform: uppercase;
    padding: 15px;
    text-decoration: none;
    font-size: 40px;
    transition: .3s;
    margin-bottom: 60px;
}
.banner a:hover {
    background: #333;
    color: #fff;
    padding: 15px 20px;
}
/* back to top button */
#back-to-top-btn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #ffa600;
    color: #000000;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 1;
}
#back-to-top-btn:hover {
    background-color: #ffc46c;
    color: #000;
}
@media only screen and (max-width: 600px) {
    #navBarHome {
        display: none;
    }
    #mobileNav {
        display: block;
    }
    body {
        font-size: 16px;
    }
    .product {
        width: 80%;
        margin-left: 10%;
        margin-bottom: 30px;
        max-width: 450px !important;
    }

    .product:hover {
        transform: translateY(-5px);
    }

    .add-to-cart {
        height: 35px;
        margin-top: 20px;
    }

    .p_image {
        max-width: 100%;
        height: 500px;
        object-fit: cover;
        border-radius: 5px;
    }

    .container {
        margin-top: 60px;
        padding: 5px;
    }
    .big-text {
        font-size: 80px;
        font-weight:600;
    }
    .mid_text{
        font-size: 45px;
        font-weight: 300;
        margin-top: 0px !important;
    }
    .banner a {
        font-size: 30px;
    }
}