body {
    overflow: hidden;
    background-color: rgb(40, 40, 40);
    font-family: 'Arial', sans-serif;
}

.login-box {
    width: 30%;
    height: auto;
    margin-top: 20vh;
    margin-left: 35%;
    background-color: rgb(0, 0, 0);
    position: relative;
}

h2 {
    padding: 3vh;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Saira Extra Condensed', sans-serif;
    margin: 0;
}

input[type="email"]{
    width: 80%;
    padding: 10px;
    margin-left: 10%;
    display: inline-block;
    border: 1px solid hsl(51, 100%, 82%);
    color: rgb(0, 0, 0);
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
}

.btn{
    width: 80%;
    background: rgb(255, 166, 0);
    border: 2px solid rgb(255, 166, 0);
    color: #333;
    padding: 10px;
    margin-top: 1vh;
    margin-bottom: 5vh;
    margin-left: 10%;
    cursor: pointer;
}

.btn:hover {
    background: rgb(255, 211, 129);
    color: #fff;
}

.regtation {
    display: inline-block;
    width: 76%;
    background: rgb(19, 192, 0);
    color: #000000;
    padding: 10px;
    margin-top: 1vh;
    margin-left: 10%;
    margin-bottom: 5vh;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.regtation:hover {
    background: rgb(140, 255, 129);
    color: #000000;
}

.login-status-message-error {
    width: 76.5%;
    margin-left: 10%;
    color: #ff5555;
    margin-bottom: 15px;
    padding: 10px;
    background-color: #ffebee;
    transition: opacity 0.3s ease;
  }
  
  .login-status-message-success {
    width: 76.5%;
    margin-left: 10%;
    font-weight: 300;
    color: #33cc33;
    margin-bottom: 15px;
    padding: 10px;
    background-color: #f0fff0;
    transition: opacity 0.3s ease;
}