body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    top: 0;
}

.top {
    width: 100%;
    position: fixed;
}

.logo {
    margin-left: 10%;
    width: 100px;
    margin-right: 5%;
    height: auto;
    align-items: center;
    display: flex;
}

.menu {
    width: 80%;
    padding-top: 4vh;
}

.top-part {
    overflow: hidden;
    width: 100%;
    background-color: rgb(0, 0, 0);
    float: top;
    display: flex;
}

.top-part ul {
    width: 100%;
    list-style: none;
}

.top-part ul li {
    margin-right: 3%;
    float: left;
}

.top-part ul li a {
    /* font-family: 'Saira Extra Condensed', sans-serif; */
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

 .top-part ul li.active a {
    border-bottom: 2px solid #ffd772;
    margin-bottom: 20px;
    padding-bottom: 5px;
}

.top-part ul li a:hover {
    color: #ffd772;
}

.top-part ul li .special_tabs:after {
    content: "";
    display: block;
    height: 2.2px;
    width: 100%;
    margin-top: 3px;
    background-color: #ffd772;
    transform: scale(0);
    transform-origin: left;
    transition: transform 0.5s ease;
}

.top-part ul li .special_tabs:hover::after {
    transform: scale(1);
}

.logo_black_theme {
    width: 100px;
    height: 100px;
}

.Log-in-dropdown {
    margin: 0;
    padding: 0;
    display: inline-block;
}

.Log-in-dropdown a {
    text-decoration: none;
    color: rgb(51, 51, 51);
    font-size: 16px;
    display: flex;
    align-items: center;
    padding: 10px;
    overflow: hidden;
}
.Log-in-dropdown a i{
    font-size: 23px !important;
    margin-top: -12px !important;
    margin-left: -10px !important;
}

.dropdown-content {
    display: none;
    position: absolute;
    text-align: center;
    background-color: rgb(42, 42, 42);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
    width: 160px;
    right: 0;
    top: 65%;
    transform: translate(-50%, 0);
    transition: background-color 0.5s ease in out;
    overflow: hidden;
    border-radius: 10px;
}

.Log-in-dropdown:hover .dropdown-content {
    display: block;
    overflow: hidden;
}

.dropdown-content a {
    padding: 10px auto;
    display: block;
    color: rgb(51, 51, 51);
    text-decoration: none;
    transition: background-color 0.5s ease;
    overflow: hidden;
}

.dropdown-content a:hover {
    background-color: rgb(100, 100, 100);
    color: #000000;
    overflow: hidden;
}

.search-dropdown {
    display: inline-block;
}

.search-content {
    display: none;
    position: absolute;
    background-color: rgb(0, 0, 0);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
    width: 300px;
    right: 5%;
    top: 23%;
    transform: translate(-60%, 0);
    transition: opacity 0.5s ease, visibility 0.5s ease;
    opacity: 0;
    visibility: hidden;
    border-radius: 0 0 10px 10px;
}

.search-dropdown.active .search-content {
    display: block;
    opacity: 1;
    visibility: visible;
}

.search-dropdown input[type="text"] {
    width: 100%;
    margin: 7px;
    padding: 5px;
    border: 1px solid rgb(214, 214, 214);
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    color: #ffffff;
}

.search-dropdown input[type="text"]::placeholder {
    color: rgb(199, 199, 199);
}

.search-dropdown button {
    padding: 5px 15px;
    margin-right: 5px;
    border: none;
    background: rgb(255, 210, 151);
    color: #000000;
    cursor: pointer;
    border-radius: 7px;
}

.search-dropdown form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    body{
        margin: 0;
        padding: 0;
    }
    .logo {
        width: 75px;
    }

    .menu {
        width: 100%;
        padding-top: 2vh;
    }

    .top-part ul li {
        margin-right: 5%;
    }

    .top-part ul li a {
        font-size: 16px;
    }

    .dropdown-content {
        right: -5%;
        top: 75%;
        width: 100px;
    }

    .dropdown-content a{
        padding: 10px 10px;
    }

    .search-content {
        width: 100%;
        right: 0;
        top: 100%;
        transform: translate(0, 0);
    }
}