#navBarHome {
    display: block;
}
#mobileNav {
    display: none;
}

.top {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar2 {
    overflow: hidden;
    background-color: hsl(0, 0%, 20%);
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
}

.navbar2 a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown2 {
    float: left;
    overflow: hidden;
}

.dropdown2 .dropbtn2 {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar2 a:hover, .dropdown2:hover .dropbtn2 {
    background-color: rgb(175, 0, 0);
}

.dropdown2-content2 {
    display: none;
    position: absolute;
    background-color: #474747;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 5px;
    overflow: hidden;
    z-index: 1;
}

.dropdown2-content2 a {
    float: none;
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown2-content2 a:hover {
    background-color: #9d9d9d;
}

.dropdown2:hover .dropdown2-content2 {
    display: block;
}

@media only screen and (max-width: 600px) {
    #navBarHome {
        display: none;
    }
    
    #mobileNav {
        display: block;
    }

    .navbar2 {
        margin-top: 55px;
        justify-content: space-around;
        display: flex;
    }

    .category-link {
        padding: 10px;
    }

    .sub-category-link {
        padding: 12px 25px;
    }

    .category-dropdown {
        min-width: 200px;
        right: -50%;
    }
}