.main_con_div{
    width: 80%;
    margin-left: 10%;
    margin-top: 30px;
    margin-bottom: 50px;
    border-radius: 10px;
    box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.2);
    display: flex;
}
.left{
    width: 30%;
    padding-top: 60px;
    padding-left: 70px;
}

.p_image{
    position: relative;
    display: block;
    width: 100%;
    height: 625px;
    border-radius: 10px;
}

.right{
    width: 70%;
    padding: 60px 100px;
}

.name{
    font-weight: 600
}

.price{
    color: red;
    font-weight: 400;
    font-size: 30px;
}

.des{
    width: 100%;
    overflow: hidden;
    margin-top: -10px;
    word-wrap: break-word;
}

.parts_in_row{
    display: flex;
    margin: 0;
    padding: 0;
}

.input_div{
    width: 48% !important;
    margin-right: 2% !important;
}

.tags{
    margin-top: 8px;
    margin-bottom: 8px;
    font-weight: 600;
}

input[type=text] {
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(151, 151, 151);
    border-radius: 5px;
}

.add-to-cart{
    padding: 10px 30px;
    background-color: rgb(0, 68, 255);
    border: none;
    border-radius: 5px;
    color: aliceblue;
    margin-top: 20px;
    margin-bottom: 30px;
}
@media only screen and (max-width: 600px) {
    .main_con_div{
        width: 90%;
        margin-left: 5%;
        display: inline-block;
    }
    .left{
        width: 100%;
        padding: 30px 30px;
    }
    
    .p_image{
        position: relative;
        display: block;
        width: 100%;
        height: 675px;
        border-radius: 10px;
    }
    
    .right{
        width: 100%;
        padding: 30px 30px;
    }
}